@import "tailwindcss";

/* Fonts */
@font-face {
    font-family: 'fornire-light';
    src: url('/fonts/Fornire-Light.otf') format('opentype');
}

@theme {
    /* Custom fonts */
    --font-fornire: 'fornire-light', Arial, sans-serif;
    --font-neue-haas: 'neue-haas-grotesk-display', Arial, sans-serif;

    /* Custom colors */
    --color-white: #ffffff;
    --color-black: #101010;
    --color-black-light: #151515;
    --color-gray-dark: #6A6A6A;
    --color-gray-light: #9c9c9c;

    /* Custom screens */
    --breakpoint-xs: 390px;
    --breakpoint-3xl: 2560px;
    --breakpoint-4xl: 3024px;

    /* Custom font sizes */
    --text-10xl: 10rem;
    --text-11xl: 12rem;
    --text-12xl: 13.5rem;
}

* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

input, textarea {
    user-select: text;
}

img {
    z-index: -20;
}

a {
    cursor: none;
}

.button {
    display: block;
    /*width: fit-content;*/
    text-align: center;
    padding: 5px 18px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 5px;
    font-weight: 550;
    transition: opacity 0.2s ease-out;
}

.button:hover {
    opacity: 0.8;
}

.button-white {
    background-color: var(--color-white);
    color: var(--color-black);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.setting-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 9999px;
    /*cursor: pointer;*/
    border: none;
    outline: none;
    background-color: #efefef;
    transition: opacity 0.2s ease-out;
}

.setting-button:hover {
    opacity: 0.8;
}

.setting-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.setting-button-active {
    background-color: var(--color-black);
    color: var(--color-white);
}