@import "tailwindcss";

/* Fonts */
@font-face {
    font-family: 'fornire-light';
    src: url('/fonts/Fornire-Light.otf') format('opentype');
}

@theme {
    /* Custom fonts */
    --font-fornire: 'fornire-light', Arial, sans-serif;
    --font-neue-haas: 'neue-haas-grotesk-display', Arial, sans-serif;

    /* Custom colors */
    --color-custom-white: #ffffff;
    --color-custom-black: #070707;
    --color-custom-gray: #c7c7c7;

    /* Custom screens */
    --breakpoint-xs: 390px;
    --breakpoint-3xl: 2560px;
    --breakpoint-4xl: 3024px;

    /* Custom font sizes */
    --text-10xl: 10rem;
    --text-11xl: 12rem;
    --text-12xl: 13.5rem;
}

.button {
    display: block;
    /*width: fit-content;*/
    text-align: center;
    padding: 5px 18px;
    background-color: var(--color-custom-black);
    color: var(--color-custom-white);
    border-radius: 5px;
    font-weight: 550;
}

.setting-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 9999px;
    transition: all .2s ease;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #efefef;
}

.setting-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.setting-button-active {
    background-color: var(--color-custom-black);
    color: var(--color-custom-white);
}